<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">Adresse</h4>
                <p class="pre-wrap lead mb-0">222 Bd Gustave Flaubert, 63000 Clermont-Ferrand</p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">Notre Organisme de Formation</h4><a class="btn btn-outline-light btn-social mx-1"
                    href="https://www.facebook.com/HBCOMPETENCES/?locale=fr_FR"><i
                        class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1"
                    href="https://x.com/humanbooster"><i class="fab fa-fw fa-twitter"></i></a><a
                    class="btn btn-outline-light btn-social mx-1"
                    href="https://fr.linkedin.com/school/human-booster/"><i class="fab fa-fw fa-linkedin-in"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="mb-4">A propos</h4>
                <p class="pre-wrap lead mb-0">Nous sommes des apprenants en formation CDA pour l'année 2025</p>
            </div>
        </div>
    </div>
</footer>
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Notre Website 2025</small></div>
</section>